html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}
body{
    margin: 0;
}
.bgimage {
	height: 100vh;
	background: url('images/city-8450817.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	/* Prevents hero-text from moving outside bgimage */
}
.navbarScroll.navbarDark {
	background-color: black;
}

.navbar {
	/* Default styles for the navbar */
	background-color: transparent;
	color: #000;
	transition: background-color 0.25s ease-in-out;
	/* Add transition effect */
}

.navbar.colored {
	/* Styles for the colored navbar */
	background-color: #5f5757;
	color: #fff;
}

.navbar-nav .nav-link {
	/* Default styles for navigation links */
	color: #000;
}

.navbar-nav .nav-link.active {
	/* Styles for active navigation links */
	font-weight: bold;
}
/* display background color black on navbar scroll */
/* hero background image */
/* hero background image */

/* text css above hero image*/

#about, #journey {
    margin-top: 4rem;
    padding-top: 4rem;
}
#services, #skills, #contact {
    margin-top: 6rem;
    padding-top: 6rem;
}
#contact {
    padding-bottom: 4rem;
}
/* about section image css */
/* services section css */
.imageAboutPage {
    width: 100%;
}
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card-12:hover .servicesIcon {
    color: #008000;
}
/* Adding margin below "Hard Skills" heading */
.text-center {
    margin-bottom: 15px; /* Adjust as needed for spacing */
}

/* Adding margin above "Soft Skills" heading */
h3.text-center.soft-skills-heading {
    margin-top: 30px; /* Adjust for desired padding */
    margin-bottom: 15px; /* To keep space below this heading too */
}
/* Base style for skill cards */
.skill-card {
    transition: background 0.5s ease; /* Smooth transition for background change */
    background-color: #ffffff; /* Default background color */
    position: relative;
    overflow: hidden;
}

/* Image overlay style on hover */
.skill-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0; /* Initial opacity */
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
    z-index: 1;
}

/* Content should remain above the overlay */
.skill-card > * {
    position: relative;
    z-index: 2;
}

/* Route Planning card background on hover */
.skill-card.skill-route-planning:hover::before {
    background-image: url('images/Navigation.png'); /* Replace with actual image path */
    opacity: 0.6; /* Adjust opacity for desired effect */
}

/* Cargo Management card background on hover */
.skill-card.skill-cargo-management:hover::before {
    background-image: url('images/Container.png'); /* Replace with actual image path */
    opacity: 0.6;
}

/* Add similar styles for other skill cards with different images */
.skill-card.skill-emergency-drill:hover::before {
    background-image: url('images/Emergency.png');
    opacity: 0.6;
}

.skill-card.skill-communication-skills:hover::before {
    background-image: url('images/Communication.png');
    opacity: 0.6;
}

/* Other cards with specific images */
.skill-card.skill-leadership:hover::before {
    background-image: url('images/Leadership.png');
    opacity: 0.6;
}

.skill-card.skill-teamwork:hover::before {
    background-image: url('images/teamwork.png');
    opacity: 0.6;
}
.card-12 {
    border: 2px solid #ddd; /* Light gray border around the card */
    padding: 20px; /* Space inside the card */
    border-radius: 4px; /* Optional: slightly rounded corners */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for depth */
    background-color: #fff; /* Optional: white background for clarity */
}
.servicesText:hover {
    border: 1px solid #008000;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-tiktok:hover {
    color: #008000;
}
.fab {
    color: #000000;
}

/* footer styling */
#footer {
    background-color: #5f5757;  /* Adjust the background color as needed */
    color: #000000;  /* Adjust the text color to contrast the background */
    padding: 20px 0;
}
.social-icons a {
    font-size: 30px;
    margin: 0 10px;  /* Adjust spacing between icons */
    color: #808080;  /* Inherit text color from #footer */
}
.copyright{
    color: #000000;
    text-align: center;
}
/* Fade In Effect */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* Fade In Active State */
.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}

/* Fade Out Effect */
.fade-out {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Fade Out Active State */
.fade-out.active {
    opacity: 0;
    transform: translateY(-20px);
}
/* Initial hidden state for sections */
.section {
    padding-top: 80px; /* Ensure this is tall enough to avoid overlap with the navbar */
    margin-bottom: 4rem; /* Space below the section */
    opacity: 0;
    transform: translateY(50px); /* Move down */
    transition: opacity 1.85s ease, transform 1.85s ease; /* Smooth transition */
}
/* Class to show sections */
.section.visible {
    opacity: 1;
    transform: translateY(0); /* Move to original position */
}

.container-12 {
    max-width: 1200px; /* Or whatever your maximum width is */
    margin: 0 auto; /* Center the container */
    overflow: hidden; /* Hide overflow if necessary */
}

:root {
	--rotate-speed: 40;
	--count: 8; /* Default count, the DOM element should override this */
	--easeInOutSine: cubic-bezier(0.37, 0, 0.63, 1);
	--easing: cubic-bezier(0.000, 0.37, 1.000, 0.63);
}

.void {
	width: 100%;
	max-width: 91%;
	margin: auto;
	position: relative;
	aspect-ratio: 1 / 1;
}
.carousel-card:hover * {
	-webkit-animation-play-state: paused;
	        animation-play-state: paused;
}
.carousel-card {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	aspect-ratio: 1 / 1;
	outline: 2px dotted magenta;
	z-index: 1;
}
.abcd {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
/* 	outline: 2px dashed cyan; */
	width: 100%;
	-webkit-animation: rotateCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
	        animation: rotateCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
}
.card {
	width: 27%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px 24px;
	gap: 8px;
	background: #FFFFFF;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 16px 32px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #535062;
	-webkit-animation: rotateCCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
	        animation: rotateCCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
}
a.mok {
	text-decoration: none;
	color: unset;
}
.model-name {
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	color: #3B2ED0;
	display: block;
}
svg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

li:nth-child(2), li:nth-child(2) .card {
	-webkit-animation-delay: calc((var(--rotate-speed)/var(--count)) * -1s);
	        animation-delay: calc((var(--rotate-speed)/var(--count)) * -1s);
}
li:nth-child(3), li:nth-child(3) .card {
	-webkit-animation-delay: calc((var(--rotate-speed)/var(--count)) * -2s);
	        animation-delay: calc((var(--rotate-speed)/var(--count)) * -2s);
}
li:nth-child(4), li:nth-child(4) .card {
	-webkit-animation-delay: calc((var(--rotate-speed)/var(--count)) * -3s);
	        animation-delay: calc((var(--rotate-speed)/var(--count)) * -3s);
}
li:nth-child(5), li:nth-child(5) .card {
	-webkit-animation-delay: calc((var(--rotate-speed)/var(--count)) * -4s);
	        animation-delay: calc((var(--rotate-speed)/var(--count)) * -4s);
}
li:nth-child(6), li:nth-child(6) .card {
	-webkit-animation-delay: calc((var(--rotate-speed)/var(--count)) * -5s);
	        animation-delay: calc((var(--rotate-speed)/var(--count)) * -5s);
}
li:nth-child(7), li:nth-child(7) .card {
	-webkit-animation-delay: calc((var(--rotate-speed)/var(--count)) * -6s);
	        animation-delay: calc((var(--rotate-speed)/var(--count)) * -6s);
}
li:nth-child(8), li:nth-child(8) .card {
	-webkit-animation-delay: calc((var(--rotate-speed)/var(--count)) * -7s);
	        animation-delay: calc((var(--rotate-speed)/var(--count)) * -7s);
}

@-webkit-keyframes rotateCW {
	from {
		transform: translate3d(0px, -50%, -1px) rotate(-45deg);
	}
	to {
		transform: translate3d(0px, -50%, 0px) rotate(-315deg);
	}
}

@keyframes rotateCW {
	from {
		transform: translate3d(0px, -50%, -1px) rotate(-45deg);
	}
	to {
		transform: translate3d(0px, -50%, 0px) rotate(-315deg);
	}
}
@-webkit-keyframes rotateCCW {
	from {
		transform: rotate(45deg);
	}
	to {
		transform: rotate(315deg);
	}
}
@keyframes rotateCCW {
	from {
		transform: rotate(45deg);
	}
	to {
		transform: rotate(315deg);
	}
}
@-webkit-keyframes pulseGlow {
	from {
		background-size: 60%;
	}
	to {
		background-size: 100%;
	}
}
@keyframes pulseGlow {
	from {
		background-size: 60%;
	}
	to {
		background-size: 100%;
	}
}

.center-circle {
    position: absolute;
    width: 230px;
    aspect-ratio: 1 / 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    text-align: center;
    box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3), 0px 30px 60px -12px rgba(12, 5, 46, 0.25);
    border-radius: 50%;
    display: flex; /* Center contents */
    align-items: center; /* Center contents vertically */
    justify-content: center; /* Center contents horizontally */
}

.services-title {
    font-size: 34px; /* Adjust font size as needed */
    font-weight: bold; /* Make the title bold */
    color: #3B2ED0; /* Match the theme color */
    font-family:'Courier New', Courier, monospace;
    margin: 0; /* Remove default margin */
}
.second-circle {
	position: absolute;
	width: 40%;
	aspect-ratio: 1 / 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #F5F4FE;
	opacity: 0.5;
	box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3), 0px 30px 60px -12px rgba(12, 5, 46, 0.25);
	border-radius: 50%;
}
.last-circle {
	position: absolute;
	width: 66%;
	aspect-ratio: 1 / 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #F5F4FE;
	opacity: 0.25;
	box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3), 0px 30px 60px -12px rgba(12, 5, 46, 0.25);
	border-radius: 50%;
}
.crop {
	-webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1));
}
.mask {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 50%;
	-webkit-animation: pulseGlow 5s linear infinite alternate;
	        animation: pulseGlow 5s linear infinite alternate;
	background-position: 100% 50%;
	background-repeat: no-repeat;
	background-image: radial-gradient(100% 50% at 100% 50%, rgba(60, 26, 229, 0.25) 0%, rgba(60, 26, 229, 0.247904) 11.79%, rgba(59, 26, 229, 0.241896) 21.38%, rgba(58, 26, 229, 0.2324) 29.12%, rgba(57, 26, 229, 0.219837) 35.34%, rgba(55, 26, 229, 0.20463) 40.37%, rgba(53, 26, 229, 0.1872) 44.56%, rgba(51, 26, 229, 0.16797) 48.24%, rgba(48, 26, 229, 0.147363) 51.76%, rgba(46, 26, 229, 0.1258) 55.44%, rgba(44, 26, 229, 0.103704) 59.63%, rgba(41, 26, 229, 0.0814963) 64.66%, rgba(39, 26, 229, 0.0596) 70.88%, rgba(36, 26, 229, 0.038437) 78.62%, rgba(34, 26, 229, 0.0184296) 88.21%, rgba(32, 26, 229, 0) 100%);
}
.mask:after {
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	right: 0;
	display: block;
	background-image: linear-gradient(180deg, rgba(60, 26, 229, 0) 0%, #3C1AE5 50%, rgba(60, 26, 229, 0) 100%);
}
